{% load staticfiles %}
<html>
    <head>
        <title> Try Django Blog </title>
        <link rel="stylesheet" href="{% static "css/main.css"%}">
    </head>

    <body>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=209757052873398&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
        {% block content %}
        <div class="top-bar">
            <!-- <h4> {{ title }} Says Try Django 9 Tutorial </h4> -->
        </div>
        

        <form method="GET" action=''>
            <input type="text" name="q" placeholder="Search posts" value="{{ request.get.q }}" />
            <input type="submit" value="search" />
        </form>

        {% for list in lists %}
            <a href="{% url "post_detail" id=list.id %}">{{ list.title }} </a><br />
            {{ list.content }} <br />
            {{ list.created }} <br />
            <br />
        {% endfor %}

        <div class="pagination">
                <span class="step-links">
                    {% if lists.has_previous %}
                        <a href="?page={{ lists.previous_page_number }}&q={{ request.GET.q }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ lists.number }} of {{ lists.paginator.num_pages }}.
                    </span>
            
                    {% if lists.has_next %}
                        <a href="?page={{ lists.next_page_number }}&q={{ request.GET.q }}">next</a>
                    {% endif %}
                </span>
            </div>

        {% endblock %}
    </body>
</html>