{% load staticfiles %}
<html>
    <head>
        <title> Try Django Blog </title>
        <link rel="stylesheet" href="{% static "css/main.css"%}">
    </head>

    <body>

        <div class="body-header">
            <h4> <a>Journey</a> - Keep your fond memories </h4>
        </div>

        <div class="body-lasagna">

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=209757052873398&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
        {% block content %}
        
        <div class="doppelgänger">
        <form method="GET" class="form-wrapper-2 cf" action=''>
            <input type="text" name="q" placeholder="Search posts..." value="{{ request.get.q }}" />
            <button type="submit"> Search </button> 
        </form>
        </div>
        

        <div class="definiton-of-body-art">
        <ul>
        {% for list in lists %}
            <li>
            {% if list.image %}
            <img src='{{ list.image.url }}' class="img-responsive"/> <br />
            {% endif %}

            <a href="{% url "post_detail" id=list.id %}"> {{ list.title }} </a> <br />
            <p>{{ list.content|truncatechars:50 }}</p>
            <div class="date"> <p> Posted: {{ list.created|timesince }} ago</p> </div> <br />
            </li>
            <br />
        {% endfor %}
        </ul>
        </div>

        <div class="pagination">
                <span class="step-links">
                    {% if lists.has_previous %}
                        <a href="?page={{ lists.previous_page_number }}&q={{ request.GET.q }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ lists.number }} of {{ lists.paginator.num_pages }}.
                    </span>
            
                    {% if lists.has_next %}
                        <a href="?page={{ lists.next_page_number }}&q={{ request.GET.q }}">next</a>
                    {% endif %}
                </span>
            </div>

        {% endblock %}
        </div>
    </body>
    <footer>
        <p> Copyright ©️ 2016 | All rigths reserved </p>
    </footer>
</html>