<html>

    <body>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <h4> {{ instance.title }} </h4>

            {{ instance.id }} <br />
            {{ instance.title }} <br />
            {{ instance.content }} <br />
            {{ instance.created }} <br />
            {{ instance.updated }} <br />
            <br />

    </body>
</html>