{% load static %}
<html>
    <head>
        <title> Try Django Blog </title>
        <!-- <link rel="stylesheet" href="{% static "css/main.css" %}"> -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" >
        <!-- <link rel="stylesheet" href="../../static/css/main.css"> -->

    </head>

    <body>
        <!-- <style>
            body{
                background-image: url("../blog.jpg");
                padding: 0px;
                margin: 0px;
            }

            h4{
                color:red;
            }
        </style> -->

        <h4> Welcome - Latest - Stuff</h4>
    </body>
</html>

